# VGDL Constraints File

# Action constraints are:
# - 'positive' in that they render that action admissable
# - conjunctive (i.e. each line is a conjunct)
# - true by default

u

d
\+((same_x_pos(Obj1, Obj2):t
colour(Obj1):t ~= agent
colour(Obj2):t ~= hole))

l

r

none

# Penalty constraints are:
# - 'negative' in that, if satisfied, the agent incurs a large penalty
# - disjunctive (i.e. each line is a disjunct)
# - false by default

penalty
bigger_x(Obj1, Obj2):t, colour(Obj1):t ~= wall, colour(Obj2):t ~= wall
occupied_pos(3, 3):t
